#canvas{
	display:none;
	margin:auto;
	cursor:none;
	position:relative;
	margin-top:60px;
}

#gameOver{
	margin:auto;
	display:block;
	top:125px;
	left: 203px;
	position: absolute;
	display:none;
	margin-top:60px;
}

#pauseSoundOff{
	margin:auto;
	display:block;
	top:125px;
	left: 203px;
	position: absolute;
	display: none;
	margin-top:60px;
}

#pauseSoundOn{
	margin:auto;
	display:block;
	top:125px;
	left: 203px;
	position: absolute;
	display: none;
	margin-top:60px;
}